.ql-editor {
  font-size: 1rem;
}

.ql-editor img, 
.ql-editor svg, 
.ql-editor .emoji {
  max-height: 1em; /* Matches the line height */
  vertical-align: middle; /* Align with text */
  width: auto; /* Maintain aspect ratio */
  display: inline-block;
}
